<p id="notice"><%= simple_format notice %></p>

<p>
  <strong>Tokimon 1:</strong>
  <%= link_to Tokimon.find(@battle.tokimon1).name, tokimon_path(@battle.tokimon1) %>
</p>

<p>
  <strong>Tokimon 2:</strong>
  <%= link_to Tokimon.find(@battle.tokimon1).name, tokimon_path(@battle.tokimon1) %>
</p>

<p>
  <strong>Winner:</strong>
  <%= link_to Tokimon.find(@battle.winner).name, tokimon_path(@battle.winner) %>
</p>

<%= link_to 'Edit', edit_battle_path(@battle) %> |
<%= link_to 'Back', battles_path %>
